<h2>Tasks</h2>

<% @tasks.each do |task| %>

<ul>
<li><%= task.name %> <a href="<%= task_path(:id => task.id) %>" data-method="delete">Done</a></li><br>
</ul>
<%end%>
<a href="<%= new_task_path %>">Add New Task</a>
<a href="<%= users_path%>">Profile</a>